.encabezado {
  display: flex;
	flex-direction: column;
}

.encabezado__container {
  align-items: center;
	display: flex;
}

.logo__container {
  display: flex;
	flex-direction: row;
}

.logo__texto {
  float: left;
	height: 40px;
	padding: 0 10px;
  border: none;
	border-radius: 20px 0 0 20px;
  font-family: 'Raleway', sans-serif;
  background: #F5F5F5;
}

.logo__texto__lupa {
  align-items: center;
  border: none;
	border-radius: 0 20px 20px 0;
	display: flex;
	flex-direction: column;
	height: 40px;
	justify-content: center;
	width: 30px;
  background-color: #F5F5F5;
}

.login__btn {
  cursor: pointer;
	height: 40px;
  color: #2A7AE4;
  background: white;
  border: 1px solid #2A7AE4;
}

.login__btn:hover {
  color: white;
  background: #2A7AE4;
}

/*****************/

@media screen and (min-width: 0) {
  .encabezado__container {
    height: 80px;
		justify-content: space-around;
  }

  .logo__container {
    width: 27%;

  }

  .logo__img {
    width: 100px;

  }
  .login__btn {
    width: 120px;

  }

  .logo__texto {
    display: none;

  }

  .logo__texto__lupa {
    display: none;

  }

}

/*************************/

  @media screen and (min-width: 768px) {
  .logo__container {
    align-items: center;
    width: 60%;
  }

  .logo__texto {
    display: block;
		width: 60%;
		margin-left: 30px;
  }

  .logo__texto__lupa {
    display: flex;

  }

  .logo__texto__lupa-mobile {
    display: none;

  }

  
}

/*************************/

@media screen and (min-width: 992px) {
  .encabezado__container {
    height: 120px;
		justify-content: space-evenly;
  }

  .logo__img {
    width: 180px;
  }

  .logo__texto {
    width: 40%;
		margin-left: 40px;
  }

  .login__btn {
    width: 160px;

  }

}