
.productos {
	display: flex;
	flex-direction: column;
	background: #E5E5E5;
}

.productos__container {
	margin: 3% 5% 0 5%;
}


.productos__lista {
	display: flex;
	flex-direction: row;
}

.productos__titulo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.categoria__titulo{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	color: #464646;
}

.categoria__btn {
	border: none;
	font-size: 20px;
	background: #E5E5E5;
}

.categoria__link {
	text-decoration: none;
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
	color: #2A7AE4;
}

@media screen and (min-width: 0) {
	.productos__container {
		margin: 3%;
	}

	.productos__container {
		height: 60px;
		margin-bottom: 2%;
	}

}

@media screen and (min-width: 768px) {
	.productos__container {
		height: 350px;
	}

	.productos__titulo {
		padding: 0;
		height: 20%;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 992px) {
	.productos__container {
		height: 400px;
	}

}