
.products {
	height: 100%;
	padding: 40px;
	margin-left: 20px;
	margin-right: 40px;
  }

.products__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Raleway', sans-serif;

}

.product-btn {
	height: 45px;
	width: 180px;
	color: #ffff;
	border: none;
	background-color: #2a7ae4;

}

.products-section {
	height: 100%;
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  gap: 10px;
  }

  .producto {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
  } 

  .producto__container {
	position: relative;

  }
  
  .producto__price {
	color: #464646;
	font-weight: bold;
	font-size: 16px;
  }

  .producto__img {
	width: 176px;
	height: 174px;
  }

  .producto__container .editImage {
	position: absolute;
	top: 30px;
	right: 15px;
  }

  .producto__container .deleteImage {
	position: absolute;
	top: 30px;
	right: 50px;
  }

  .editImage,
.deleteImage {
  width: 24px;
  height: 24px;
}

.buttonDelete,
.buttonEdit {
  background-color: transparent;
  border-color: transparent;
}

@media screen and (min-width: 0) {
	.products__title{
		display: flex;
		flex-direction: column;
		font-weight: 800;
		align-items: baseline;
		margin-top: 20px;
	}
	.products {
		height: 100%;
		padding: 5px;
		margin-left: 10px;
		margin-right: 20px;
	  }

	.product-btn {
		margin-top: 20px;
	}
}

@media screen and (min-width: 380px) {
	.products__title {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}
	.products {
		height: 100%;
		padding: 20px;
		margin-left: 10px;
		margin-right: 20px;
	  }
}

@media screen and (min-width: 992px) {
	.products__title {
		display: flex;
		flex-direction: row;
	}
}