
.products {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
  }

.products__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-btn {
	height: 51px;
	width: 180px;
	color: #ffff;
	border: none;
	background-color: #2a7ae4;

}

.products-section {
	height: 100%;
	  padding: 0px 150px 0px 150px;
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  gap: 10px;
  }

  .producto {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
  } 

  .producto__container {
	position: relative;

  }
  
  .producto__price {
	color: #464646;
	font-weight: bold;
	font-size: 16px;
  }

  .producto__img {
	width: 176px;
	height: 174px;
  }

  .producto__container .editImage {
	position: absolute;
	top: 30px;
	right: 15px;
  }

  .producto__container .deleteImage {
	position: absolute;
	top: 30px;
	right: 50px;
  }

  .editImage,
.deleteImage {
  width: 24px;
  height: 24px;
}

.buttonDelete,
.buttonEdit {
  background-color: transparent;
  border-color: transparent;
}

@media screen and (min-width: 0) {
	/* .producto__container {
		margin: 3%;
	}

	.producto__container {
		height: 60px;
		margin-bottom: 2%;
	} */

}

@media screen and (min-width: 768px) {
	/* .producto__container {
		height: 350px;
	}

	.products__title {
		padding: 0;
		height: 20%;
		margin-bottom: 0;
	} */
}

@media screen and (min-width: 992px) {
	/* .producto__container {
		height: 400px;
	} */

}