  :root {
    font-family: "Releway", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Releway", sans-serif;
    background-color: #ebebeb;
    scroll-behavior: smooth;
  }